@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quên mật khẩu!";
}

<h1 class="text-success">@ViewData["Title"]</h1>
<p>
    Vui lòng kiểm tra email để tạo lại mật khẩu.
</p>
